body {
  margin: 0;
  padding: 0;
  background: black;
  
  font-family: sans-serif;
}

.group {
  background: rgb(58, 255, 189);
  margin: 16px;
  padding: 16px;
  width: 188px;
  height: 206px;
}

.situation {
  padding: 32px;
  height: 360px;
  width: 480px;
  background: #aaa;
}
