.timer--clock {
  display: flex;
}

.separator {
  font-size: 50px;
  margin: 0 8px;
}

.number-grp {
  width: auto;
  display: block;
  height: 50px;
  overflow: hidden;
  background-color: #999;
  .num{
    font-size: 50px;
    width: 32px;
    line-height: 50px;
  }
}